body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

/* Общие стили для обоих слоев фона */
.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0; /* По умолчанию слой невидимый */
    transition: opacity 1s ease-in-out; /* Плавное проявление */
    z-index: 1;
}

/* Класс для видимого слоя */
.bg-image.active {
    opacity: 1;
    z-index: 2; /* Активный слой всегда сверху */
}

.clock-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
}

#main-clock {
    max-width: 180px;
    height: auto;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.7));
    transition: transform 0.2s ease;
}

#main-clock:hover {
    transform: scale(1.05);
}